*{
	margin:0;
	padding:0;
}

body{
	
}

.contenedor{
	background:#fff
}

header, .main, footer{
	width:90%;
	max-width:1000px;
	margin:20px auto;
}

header nav{
	background:#0B9E4C;
	overflow:hidden;
}

header nav ul{
	list-style:none;
}

header nav ul li{
	float:left;
}

header nav ul li a{
	padding:10px 20px;
	 font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
	display:block;
	color:#fff;
	text-decoration:none;
}

header nav ul li a:hover{
	background:#005224;
}

.main .articles{
	width:68%;
	margin-right:1.5%;
	float:left;
}

.main .articles  article {
	padding:20px;

	margin-bottom:20px;
	text-align: justify;
	box-sizing: border-box;
	color: #676D6C;
	float:left;
}

.main .articles  article {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.main .articles  article div {
	padding:6px 6px;
	float:left;

	border:1px solid #ccc;
}
aside{
	width:30%;
	background:#9E170B;
	float:left;
	padding:20px;
	font-family: verdana;
	box-sizing:border-box;
	text-align: justify;
}
footer{
	background:#000;
	color:#fff;
	clear:both;
	padding:10px 0px;
	text-align:center;
	font-family: verdana;
	
	font-size: 9px;
}



h3{
	color:#fff;
}

.pru{
	color:#fff;
}

@media screen and (max-width: 800px){
	.main .articles{
		width: 100%;
	}

	aside{
		width: 100%;
	}
}